/**                               ______________________________________________
*                          o O   |                                              |
*                 (((((  o      <    Generated with Cook Self Service  V2.6.5   |
*                ( o o )         |______________________________________________|
* --------oOOO-----(_)-----OOOo---------------------------------- www.j-cook.pro --- +
* @version		1.0
* @package		Blank
* @subpackage	
* @copyright	2015 Jeffrey Hallock
* @author		Jeffrey Hallock -  - codewise.cc@gmail.com
* @license		Artistic 2.0
*
*             .oooO  Oooo.
*             (   )  (   )
* -------------\ (----) /----------------------------------------------------------- +
*               \_)  (_/
*/

/**
* Component icons 48px (Cpanel)
**/
.ico-48-blank, .icon-48-blank {
	background-image:url('../images/icon-48-blank.png');
}
.ico-48-blank_foos, .icon-48-blank_foos {
	background-image:url('../images/icon-48-blank_foos.png');
}
.ico-48-blank_bars, .icon-48-blank_bars {
	background-image:url('../images/icon-48-blank_bars.png');
}
.ico-48-blank_cpanel, .icon-48-blank_cpanel {
	background-image:url('../images/icon-48-blank_cpanel.png');
}

/**
* Component icons 16px (Sub Menu)
**/
.ico-16-blank, .icon-16-blank {
	background-image:url('../images/icon-16-blank.png');
}
.ico-16-blank_foos, .icon-16-blank_foos {
	background-image:url('../images/icon-16-blank_foos.png');
}
.ico-16-blank_bars, .icon-16-blank_bars {
	background-image:url('../images/icon-16-blank_bars.png');
}
.ico-16-blank_cpanel, .icon-16-blank_cpanel {
	background-image:url('../images/icon-16-blank_cpanel.png');
}

/**
* Icons 16px
**/
span.ico-16-task-new, span.icon-16-task-new, span.new {
	background-image:url('../images/icon-16-task-new.png');
}
span.ico-16-task-edit, span.icon-16-task-edit, span.edit {
	background-image:url('../images/icon-16-task-edit.png');
}
span.ico-16-task-delete, span.icon-16-task-delete, span.delete {
	background-image:url('../images/icon-16-task-delete.png');
}
span.ico-16-task-save, span.icon-16-task-save, span.save {
	background-image:url('../images/icon-16-task-save.png');
}
span.ico-16-task-apply, span.icon-16-task-apply, span.apply {
	background-image:url('../images/icon-16-task-apply.png');
}
span.ico-16-task-cancel, span.icon-16-task-cancel, span.cancel {
	background-image:url('../images/icon-16-task-cancel.png');
}
span.ico-16-task-config, span.icon-16-task-config, span.config {
	background-image:url('../images/icon-16-task-config.png');
}
span.ico-16-task-save2new, span.icon-16-task-save2new, span.save2new {
	background-image:url('../images/icon-16-task-save2new.png');
}
span.ico-16-task-save-new, span.icon-16-task-save-new, span.save-new {
	background-image:url('../images/icon-16-task-save-new.png');
}
span.ico-16-task-save2copy, span.icon-16-task-save2copy, span.save2copy {
	background-image:url('../images/icon-16-task-save2copy.png');
}
span.ico-16-task-save-copy, span.icon-16-task-save-copy, span.save-copy {
	background-image:url('../images/icon-16-task-save-copy.png');
}

/**
* System
**/
span.spinner {
	background-image:url('../images/icon-16-spinner.gif');
}
[class^="icon-32"], [class*=" icon-32"] {
	background-position:0px 0px; !important;
}

/**
* Fixes
**/
.jgrid span {
	padding:0px;
}

